@model IEnumerable<Okonomen.Models.Budget>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Opret Budget</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            @foreach(var i in item.BudgetItems)
                {
        <td>
            @Html.DisplayFor(modelItem => i.Name) @Html.DisplayFor(modelItem => i.Number)
        </td>
                }
            
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Slet</a> |
            @Html.ActionLink("Tilføj items til budgettet", "Index", "BudgetItems", null, null)
        </td>
            </tr>
}
    </tbody>
</table>
